* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}

body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;

	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='540' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1029%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(65%2c 105%2c 233%2c 1)'%3e%3c/rect%3e%3cpath d='M-8.21 74.51 a146.15 146.15 0 1 0 292.3 0 a146.15 146.15 0 1 0 -292.3 0z' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M182.45%2c486.293C212.234%2c484.191%2c231.447%2c458.328%2c246.395%2c432.481C261.369%2c406.589%2c276.009%2c376.083%2c261.222%2c350.084C246.332%2c323.904%2c212.568%2c320.04%2c182.45%2c320.053C152.362%2c320.066%2c120.48%2c325.112%2c103.797%2c350.152C85.441%2c377.703%2c84.132%2c414.099%2c100.693%2c442.765C117.247%2c471.418%2c149.441%2c488.623%2c182.45%2c486.293' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-58.79 157.15 a116.01 116.01 0 1 0 232.02 0 a116.01 116.01 0 1 0 -232.02 0z' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M582.44 296.03 a171.84 171.84 0 1 0 343.68 0 a171.84 171.84 0 1 0 -343.68 0z' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1117.695%2c202.953C1133.758%2c201.919%2c1145.92%2c189.489%2c1153.09%2c175.078C1159.446%2c162.303%2c1158.307%2c147.668%2c1151.415%2c135.174C1144.247%2c122.18%2c1132.512%2c111.739%2c1117.695%2c110.918C1101.442%2c110.018%2c1085.581%2c117.324%2c1076.816%2c131.041C1067.335%2c145.877%2c1064.718%2c164.898%2c1073.419%2c180.205C1082.208%2c195.666%2c1099.948%2c204.095%2c1117.695%2c202.953' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M516.71 345.94 a183.22 183.22 0 1 0 366.44 0 a183.22 183.22 0 1 0 -366.44 0z' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1208.03 6.59 a128.15 128.15 0 1 0 256.3 0 a128.15 128.15 0 1 0 -256.3 0z' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1184.67 310.27 a153.16 153.16 0 1 0 306.32 0 a153.16 153.16 0 1 0 -306.32 0z' fill='rgba(33%2c 226%2c 159%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1029'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
	background-repeate: repeat-y;
}
/* Card */

.card-custum {
	background: #ffffff;
	margin: 8px;
	border-radius: 18px;
}
.form-control {
	border: none;
	background-color: #f8f9fa;
}

.inputs input {
	width: 40px;
	height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
